{% extends "layout.html" %}
{% block head %}
  <style type='text/css'>
    body {
    }
    #content {
      background-color: #FFF;
      border-radius: 5px;
    }
    #content .main {
    }
    #content .sidebar {
      padding: 10px;
    }
    #content p {
      line-height: 30px;
    }
    #content .sidebar a {
    }
    .inputFeedUrlNormal {
      width: 200;
    }
    .inputFeedUrlFocused {
      width: 300px;
    }
    .feedItem {
      white-space: nowrap;
      overflow:hidden;
      text-overflow: ellipsis;
    }
    .article_summary_view {
      padding: 12px 19px 19px;
      margin: 0 auto 20px;
      background-color: #fff;
      border: 1px solid #e5e5e5;
      -webkit-border-radius: 5px;
         -moz-border-radius: 5px;
              border-radius: 5px;
      -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
         -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
              box-shadow: 0 1px 2px rgba(0,0,0,.05);
    }
    .article_summary_view .title .pubdate {
      float: right;
      color: #CCC;
    }
    .article_summary_view .author {
      color: #CCC;
      margin-top:2px;
      margin-bottom:4px;
      font-size: 12px;
    }
    .article_summary_view .title .link {
      font-size: 18px;
    }
    .sidebar-nav-fixed {
      padding: 0px 0;
      position:fixed;
      left:20px;
      top:50px;
      width:250px;
    }
    .sidebar-nav-scrollable {
      padding: 0px 0;
      position:fixed;
      overflow-y:scroll;
      left:20px;
      top:120px;
      bottom:0px;
      width:250px;
    }

    .content-fixed {
      position:fixed;
      top:40px;
      bottom:0px;
      left:290px;
      right:20px;
      overflow-y:scroll;
    }
    .nav > .active {
      color: #ffffff;
      background-color: #0088cc;
    }
    
  </style>
  <script type=text/javascript src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}

{% block body %}
<body data-spy="scroll" data-target=".bs-docs-sidebar">
  <div class="container">
    <div class='navbar navbar-inverse navbar-fixed-top'>
      <div class='navbar-inner nav-collapse' style='height: auto;'>
        <ul class='nav'>
          <li class='active'><a href='#'>Home</a></li>
          <li><a href='#'>Page One</a></li>
          <li><a href='#'>Page Two</a></li>
        </ul>
        <ul class='nav pull-right'>
          {% if session.user_id %} 
          <li> <a href="{{ url_for('google_reader_authorize') }}">import from google reader</a></li>
          <li> <a href="{{ url_for('logout') }}">log out</a> </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid" >
    <div class='row-fluid row'>
      <div class='span3 sidebar'>
        <div class='well sidebar-nav-fixed'>
          <ul class='nav nav-list'>
            <li class="nav-header" style='font-size:16px'>Subscriptions</li>
            <li>
              <div> <input type=text id=feed_url placeholder="feed url" class="inputFeedUrlNormal"> </div>
            </li>
          </ul>
        </div>
        <div id='feedlist_container' class='well sidebar-nav-scrollable'>
          <ul id='feedlist' class="nav nav-list bs-docs-sidenav">
          </ul>
        </div>
        <div>
        </div>
      </div>
      <div class='span9'>
        <div id=content-area class='content-fixed'>
        <h3><a id='feedtitle' style='color:black'></a></h3>
        <div id='itemlist'> </div>
        <div>
      </div>
    </div>
  </div>
</body>
{% endblock %}

