{% extends "layout.html" %}
{% block style %}
  <style type='text/css'>
    body {
      background-color: #CCC;
    }
    #content {
      background-color: #FFF;
      border-radius: 5px;
    }
    #content .main {
    }
    #content .sidebar {
      padding: 10px;
    }
    #content p {
      line-height: 30px;
    }
    .inputFeedUrlNormal {
      width: 150px;
    }
    .inputFeedUrlFocused {
      width: 300px;
    }
    .feedItem {
      width: 160;
    }
    .article_summary0 {
      margin: 0px 2px 2px 0px;
      padding: 0px 4px 0px 4px;
    }
  </style>
{% endblock %}

{% block content %}
  <script type=text/javascript>
    var util = {
      addFeed: function() {
        $.getJSON($SCRIPT_ROOT + '/add_feed', {
          feed_url: $('#feed_url').val()
        }, function(data) {
          if (data) {
            util.addToFeedList(data);
            util.showItems(data.title, data.articles)
          }
          else {
            alert('error')
          }
          $('#feed_url').val('');
        });
      },
      clearItems: function() {
        $('#itemlist').html('');
      },
      itemHtml: '<div><div><h4>${title}</h4></div>' +
                  '<div>${author, date...}</div>' +
                '<div>${description}</div></div>',
      addItem: function(item) {
        // use a template
        var itemView = $(util.itemHtml.replace('${title}', item.title)
                .replace('${description}', item.description));
        itemView.attr('class', 'article_summary0');
        itemView.appendTo($('#itemlist'));
      },
      showItems: function(title, items) {
        util.clearItems();
        $('#feedtitle').html(title);
        $.each(items, function(index, item) {
            console.log(item);
          util.addItem(item);
        });
      },
      addToFeedList: function(feed) {
        $('<a>',{
          text: feed.title,
          title: 'Blah',
          href: feed.link,
          class: 'feedItem',
          target:'_blank',
          click: function(){ 
            $.getJSON($SCRIPT_ROOT + '/get_articles', {
              feed_id: feed.id
            }, function(data) {
              util.showItems(feed.title, data.articles);
            });
            return false;
          }
        }).appendTo($('<li>').appendTo($('#feedlist')));
      },
      getFeedList: function() {
        var user_id = '{{ session.user_id  }}';
        $.getJSON($SCRIPT_ROOT + '/get_feedlist', {
          user_id: user_id
        }, function(data) {
          $.each(data.feedlist, function(index, feed){
            console.log(feed.id);
            util.addToFeedList(feed);
          });
          if (data.feedlist.length > 0) {
            util.showItems(data.feedlist[0].title, data.articles);
          }
        });
      },
      keyPressed: function(e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) {
          util.addFeed();
        }
      }
    };

    $(function() {
      $('#feed_url').bind('keypress', util.keyPressed);
      util.getFeedList();
    });
  </script>
  <div class="container" >
    <div class='navbar navbar-inverse'>
      <div class='navbar-inner nav-collapse' style='height: auto;'>
        <ul class='nav'>
          <li class='active'><a href='#'>Home</a></li>
          <li><a href='#'>Page One</a></li>
          <li><a href='#'>Page Two</a></li>
        </ul>
        <ul class='nav pull-right'>
          {% if session.user_id %} 
          <li> <a href="{{ url_for('logout') }}">log out</a> </li>
          {% endif %}
        </ul>
      </div>
    </div>
    <div id='content' class='row-fluid'>
      <div class='span2 sidebar'>
        <div class='weel sidebar-nav'>
        <h3>My Feeds</h3>
        <ul id='feedlist' class="nav nav-tabs nav-stacked">
          <li><div>
            <input type=text id=feed_url placeholder="feed url" class="inputFeedUrlNormal">
          </div>
          </li>
        </ul>
      </div>
      </div>
      <div class='span7 main'>
        <h3 id='feedtitle'>Main Content Section</h3>
        <div id='itemlist'> </div>
      </div>
      <div class='span3 sidebar'>
        <h3>Sidebar</h3>
        <ul class="nav nav-tabs nav-stacked">
          <li><a href='#'>Another Link 1</a></li>
          <li><a href='#'>Another Link 2</a></li>
          <li><a href='#'>Another Link 3</a></li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}

